---
layout: default
---

<div class="intro-text">

<p>You've found <strong>INPUT/OUTPUT</strong>, the technical "nerd blog" from the
<a href="http://www.psrc.org">Puget Sound Regional Council</a> in Seattle, Washington.
At I/O, we blog about the data and tools which support the Seattle region's
transportation planning, economic development, and growth management strategies.</p>
<p>PSRC also has a <a href="http://blog.psrc.org">general-interest blog</a> about regional issues, if that's more your style.</p>
</div>

<p class="sidebar_title">LATEST STORIES</p>

<div class="posts">
  {% for post in site.posts limit: 7%}
    <article class="post">

      {% if post.image %}
          <div class="entry_image_wrapper">
            <a href="{{ site.baseurl }}{{ post.url }}"><img class="entry_image" src="{{ post.image }}" alt="{{ post.title }}" /></a>
          </div>

          <div class="entry">
              <h3>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h3>

              {{ post.content | truncatewords:40}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">&raquo;&nbsp;Read More</a>
          </div>

      {% elsif post.image-wide %}

        <div class="entry">
            <h3 class="entry_list">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>

            <div class="entry_image_wide_wrapper">
              <a href="{{ site.baseurl }}{{ post.url }}"><img class="entry_image_wide" src="{{ post.image-wide }}" alt="{{ post.title }}" /></a>
            </div>

            <div class="wide_blurb">
              {{ post.content | truncatewords:40}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">&raquo;&nbsp;Read More</a>
            </div>
        </div>
      {% endif %}

    </article>
  {% endfor %}
</div>

<p>&raquo; See <a href="/archive.html">older posts</a>.</p>


