<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="I/O: The PSRC Data Blog">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
	
	<link rel="alternate" type="application/rss+xml" title="I/O Blog" href="/feed.xml">

    <title>I/O: PSRC Data Blog</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">

      <header class="inner">
	  	  <img align="right" class="title_image" src="/images/home-vmt.png" alt="PSRC" width="100"/>

          <h1 id="project_title"><a href="/">I/O: The PSRC Data Blog</a></h1>
          <h3 id="project_tagline"><a href="/">psrc.github.io</a></h3>
      </header>

    </div>

    <!-- SIDE LINKS -->
    <div id="sidebar">      

      <p class="sidebar_title">I/O BLOG</p>
      {% for page in site.nav_links %}
          <a href="{{ page[1]  }}">{{ page[0] }}</a><br/>
      {% endfor %}

      <br/><br/><br/>

      <p class="sidebar_title">PSRC</p>
      {% for page in site.psrc_links %}
          <a href="{{ page[1]  }}">{{ page[0] }}</a><br/>
      {% endfor %}

    </div>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">

      <section id="main_content" class="inner">

        {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>(c) 2014 Puget Sound Regional Council.  Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>


  </body>
</html>
