<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="I/O: The PSRC Data Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/search.css">

    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <link rel="alternate" type="application/rss+xml" title="I/O Blog" href="/feed.xml">

    <title>I/O: PSRC Data Blog</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap">

      <div id="header_content">
          <img class="header_image" src="/images/home-vmt.jpg" alt="PSRC" />
          <h1 id="project_title"><a href="/">I/O: The PSRC Data Blog</a></h1>
          <h3 id="project_tagline"><a href="/">psrc.github.io</a></h3>
        <div id="header_divider"></div>

      </div>

    </div>

    <div id="header_line"></div>

    <div id="white_area">

    <!-- SIDE LINKS -->
    <div id="sidebar">

      <p class="sidebar_title">I/O BLOG</p>
      {% for page in site.nav_links %}
          <a href="{{ page[1]  }}">{{ page[0] }}</a><br/>
      {% endfor %}

      <br/>

      <p class="sidebar_title">PSRC</p>
      {% for page in site.psrc_links %}
          <a href="{{ page[1]  }}">{{ page[0] }}</a><br/>
      {% endfor %}

      <br/>

      <p class="sidebar_title">SEARCH</p>
      {% include search.html %}

      <a href="http://www.psrc.org"><img id="psrc_logo" src="/images/psrc-logo-grey.png" alt="PSRC Logo" width="170px" /></a>


    </div>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap">

      <!-- Mobile nav links -->
      <DIV id="mobile-menu">
        <p class="mobile-p">{% for page in site.nav_links %}
            <a href="{{ page[1]  }}">{{ page[0] }}</a> &raquo;
        {% endfor %} <a href="http://www.psrc.org">PSRC</a></p>
      </DIV>

      <section id="main_content" class="inner">

        {{ content }}

      </section>

    </div>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap">
      <footer id="footer_content">
        <p>&copy; {{'now' | date: '%Y'}} Puget Sound Regional Council, Seattle, WA, USA.  Published using <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>


  </body>
</html>
