---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>  
  <div class="date">  
    by <a href="/authors.html">{{ page.author }}</a> on {{ page.date | date: "%B %e, %Y" }}
    <hr/> 
  </div>

  <div class="entry">
      {% if page.image %}
        <img align="right" width=100 height=100 src="{{ page.image }}" alt="{{ page.title }}" /></a>
      {% endif %}

      {{ content }}
  </div>

  <div class="date">  
    <a href="{{page.url}}">Permalink</a>
    <br/><br/>
  </div>

  {% if page.comments %}
   
    <h2></h2>
    <h4>Discussion and Comments</h4>
      {% include comments.html %}
  {% endif %}

</article>
